@import 'tailwindcss';
/* 组件容器 */
.playground-wrapper {
    background: #f9fafb;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 24px;
}
/* bubble布局 */
.bubble-chat {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
  
.bubble-row {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.bubble-row.left {
    justify-content: flex-start;
}
  
.bubble-row.right {
    justify-content: flex-end;
}
  
.avatar {
    width: 32px;
}

/* todo: SenderDemo组件tailwindcss没有生效或被覆盖，目前采用手写样式方法，期待解决方案*/
textarea {
    resize: none;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1/.75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25/.875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5/1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75/1.125);
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --radius-md: .375rem;
    --radius-2xl: 1rem;
    --animate-bounce: bounce 1s infinite;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4,0,.2,1);
    --color-blue-300: lab(77.5052% -6.4629 -36.42);
    --color-gray-200: lab(91.6229% -.159085 -2.26791);
    --color-gray-400: lab(65.9269% -.832707 -8.17474);
    --color-gray-500: lab(47.7841% -.393212 -10.0268);
    --color-gray-700: lab(27.1134% -.956401 -12.3224);
    --color-gray-800: lab(16.1051% -1.18239 -11.7533);
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-gray-100: oklch(96.7% 0.003 264.542);
    --color-gray-300: oklch(87.2% 0.01 258.338);
    --color-white: #fff;
    --spacing: 0.25rem;
    --container-xs: 20rem;
    --container-3xl: 48rem;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --font-weight-bold: 700;
    --radius-lg: 0.5rem;
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    --tw-duration: .3s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    background-color: transparent;
    opacity: 1;
    resize: none;
    border-radius: var(--radius-2xl);
    border-style: var(--tw-border-style);
    border-width: 0;
    padding-block: calc(var(--spacing)*4);
    color: var(--color-gray-700);
    width: 100%;
    padding-inline: calc(var(--spacing) * 4);
    height: 56px;
    overflow-y: hidden;
}  